// _colors.scss

$font-color: #313131;

$primary-bg-color: #FFFFFF;
$alternate-bg-color: #F4F4F4;

$accent-color: #C70072;
$accent-highlight-color: #FDF2F8;
$dot-inactive-color : #b7a4af78;

$banner-color: #213B7B;

$accordian-element-bg-color: #F8F8F8;

$unselected-radio-color: #F5F5F5;

$capsule-bg-color: #DEE3F0;
$capsule-text-color: #1F3B7C;
